/* WARNING! Change references of source 
	URL: /api/library/GetResource/?category=GlobalStyles&name=GlobalSymbols&version=1.0&path=Code/GlobalSymbols.woff
	  to your local copy!
*/
@font-face {
	font-family: "NGVL";
	src: url('../../fonts/ecitglobal/GlobalSymbols.woff') format('woff');
}

.symbol{
	font-family: 'NGVL';
	font-size: 1.2rem;
	display: inline-block;
	color: #666;
	margin:0 .6rem;
}

.symbol:hover,
.symbol:active,
.symbol:focus

{
	 color:#0072C6;
}

.symbol.lineChart:after { content:"\1F4C8"; }
.symbol.barChart:after { content:"\1F4CA"; }
.symbol.bookmarkTab:after { content:"\1F4D1"; }
.symbol.closedLock:after { content:"\1F512"; }
.symbol.openLock:after { content:"\1F513"; }
.symbol.reversedCheckedbox:after { content:"\E005"; }
.symbol.doubleDownArrows:after { content:"\E00D"; }
.symbol.leftAngle:after { content:"\E012"; }
.symbol.rightAngle:after { content:"\E013"; }
.symbol.upAngle:after { content:"\E014"; }
.symbol.downAngle:after { content:"\E015"; }
.symbol.leftAngleBold:after { content:"\E016"; }
.symbol.rightAngleBold:after { content:"\E017"; }
.symbol.upAngleBold:after { content:"\E018"; }
.symbol.downAngleBold:after { content:"\E019"; }
.symbol.radio:after { content:"\E070"; }
.symbol.doubleUpArrows:after { content:"\E08D"; }
.symbol.leftAngleMed:after { content:"\E09E"; }
.symbol.rightAngleMed:after { content:"\E09F"; }
.symbol.upAngleMed:after { content:"\E0A0"; }
.symbol.downAngleMed:after { content:"\E0A1"; }
.symbol.checkboxChecked:after { content:"\E0A2"; }
.symbol.radioChecked:after { content:"\E0A3"; }
.symbol.remove:after { content:"\E0A4"; }
.symbol.rightCircle:after { content:"\E0AC"; }
.symbol.rightArrowBold:after { content:"\E0AE"; }
.symbol.rightCircleInvert:after { content:"\E0AF"; }
.symbol.leftCircle:after { content:"\E0BA"; }
.symbol.leftCircleInvert:after { content:"\E0B3"; }
.symbol.plus:after { content:"\E0B6"; }
.symbol.minus:after { content:"\E0B8"; }
.symbol.plusCircle:after { content:"\E0C5"; }
.symbol.minusCircle:after { content:"\E0C6"; }
.symbol.xCircle:after { content:"\E0C7"; }
.symbol.plusCircleInvert:after { content:"\E0C8"; }
.symbol.minusCircleInvert:after { content:"\E0C9"; }
.symbol.xCircleInvert:after { content:"\E0CA"; }
.symbol.leftArrowBold:after { content:"\E0D5"; }
.symbol.tileExpand:after { content:"\E0D6"; }
.symbol.tileReduce:after { content:"\E0D7"; }
.symbol.unpin:after { content:"\E0DA"; }
.symbol.pin:after { content:"\E0DB"; }
.symbol.circle:after { content:"\E0DD"; }
.symbol.circleFilled:after { content:"\E0DE"; }
.symbol.circleMore:after { content:"\E0DF"; }
.symbol.tileOff:after { content:"\E0F1"; }
.symbol.tileOn:after { content:"\E0F2"; }
.symbol.manage:after { content:"\E0F3"; }
.symbol.properties:after { content:"\E0F4"; }
.symbol.applications:after { content:"\E0F5"; }
.symbol.newWindow:after { content:"\E0F8"; }
.symbol.openWith:after { content:"\E0F9"; }
.symbol.openFile:after { content:"\E0FA"; }
.symbol.openLocation:after { content:"\E0FB"; }
.symbol.previous:after { content:"\E100"; }
.symbol.next:after { content:"\E101"; }
.symbol.play:after { content:"\E102"; }
.symbol.pause:after { content:"\E103"; }
.symbol.edit:after { content:"\E104"; }
.symbol.save:after { content:"\E105"; }
.symbol.trash:after { content:"\E107"; }
.symbol.subtract:after { content:"\E108"; }
.symbol.add:after { content:"\E109"; }
.symbol.accept:after { content:"\E10B"; }
.symbol.more:after { content:"\E10C"; }
.symbol.redo:after { content:"\E10D"; }
.symbol.undo:after { content:"\E10E"; }
.symbol.home:after { content:"\E10F"; }
.symbol.upArrow:after { content:"\E110"; }
.symbol.rightArrow:after { content:"\E111"; }
.symbol.leftArrow:after { content:"\E112"; }
.symbol.settings:after { content:"\E115"; }
.symbol.video:after { content:"\E116"; }
.symbol.sync:after { content:"\E117"; }
.symbol.download:after { content:"\E118"; }
.symbol.mail:after { content:"\E119"; }
.symbol.search:after { content:"\E11A"; }
.symbol.help:after { content:"\E11B"; }
.symbol.upload:after { content:"\E11C"; }
.symbol.mailForward:after { content:"\E120"; }
.symbol.clock:after { content:"\E121"; }
.symbol.mailSend:after { content:"\E122"; }
.symbol.people:after { content:"\E125"; }
.symbol.world:after { content:"\E128"; }
.symbol.notification:after { content:"\E129"; }
.symbol.category:after { content:"\E12B"; }
.symbol.zoomIn:after { content:"\E12E"; }
.symbol.bookmarks:after { content:"\E12F"; }
.symbol.pdf:after { content:"\E130"; }
.symbol.page:after { content:"\E132"; }
.symbol.options:after { content:"\E133"; }
.symbol.mailInverted:after { content:"\E135"; }
.symbol.contactInfo:after { content:"\E136"; }
.symbol.fourSquare:after { content:"\E138"; }
.symbol.phone:after { content:"\E13A"; }
.symbol.switch:after { content:"\E13C"; }
.symbol.person:after { content:"\E13D"; }
.symbol.rename:after { content:"\E13E"; }
.symbol.go:after { content:"\E143"; }
.symbol.details:after { content:"\E14C"; }
.symbol.shop:after { content:"\E14D"; }
.symbol.selectAll:after { content:"\E14E"; }
.symbol.import:after { content:"\E150"; }
.symbol.importFiles:after { content:"\E151"; }
.symbol.showAllFiles:after { content:"\E154"; }
.symbol.saveLocal:after { content:"\E159"; }
.symbol.stop:after { content:"\E15B"; }
.symbol.searchResults:after { content:"\E15C"; }
.symbol.tool:after { content:"\E15E"; }
.symbol.document:after { content:"\E160"; }
.symbol.calendar:after { content:"\E163"; }
.symbol.replyAll:after { content:"\E165"; }
.symbol.mailRead:after { content:"\E166"; }
.symbol.accounts:after { content:"\E168"; }
.symbol.attach:after { content:"\E16C"; }
.symbol.filter:after { content:"\E16E"; }
.symbol.copy:after { content:"\E16F"; }
.symbol.priority:after { content:"\E171"; }
.symbol.sort:after { content:"\E174"; }
.symbol.contactStatus:after { content:"\E181"; }
.symbol.optionsImportant:after { content:"\E182"; }
.symbol.permissions:after { content:"\E192"; }
.symbol.disableUpdates:after { content:"\E194"; }
.symbol.moveToFolder:after { content:"\E19C"; }
.symbol.mailReply:after { content:"\E1AF"; }
.symbol.clearSelection:after { content:"\E1C5"; }
.symbol.calculator:after { content:"\E1D0"; }
.symbol.library:after { content:"\E1D3"; }
.symbol.restoreWindow:after { content:"\E1D8"; }
.symbol.fullScreen:after { content:"\E1D9"; }
.symbol.folderAdd:after { content:"\E1DA"; }
.symbol.contactBlock:after { content:"\E1E0"; }
.symbol.contactInvite:after { content:"\E1E2"; }
.symbol.taskbarUnpin:after { content:"\E241"; }
.symbol.taskbarPin:after { content:"\E242"; }
.symbol.startMenu:after { content:"\E243"; }
.symbol.clearSelection2:after { content:"\E26A"; }
.symbol.helpCircle:after { content:"\E280"; }
.symbol.downChevron:after { content:"\E281"; }
.symbol.upChevron:after { content:"\E282"; }
.symbol.network:after { content:"\E283"; }
.symbol.mailDelete:after { content:"\E284"; }
.symbol.menu:after { content:"\E285"; }
.symbol.shoppingCart:after { content:"\E286"; }
.symbol.informational:after { content:"\E287"; }
.symbol.warning:after { content:"\E288"; }
.symbol.documentEdit:after { content:"\E289"; }
.symbol.tools:after { content:"\E28A"; }
.symbol.documentCheck:after { content:"\E28B"; }
.symbol.cube:after { content:"\E28C"; }
.symbol.menu2:after { content:"\E28D"; }
.symbol.upTriangle:after { content:"\E28E"; }
.symbol.downTriangle:after { content:"\E28F"; }
.symbol.leftTriangle:after { content:"\E290"; }
.symbol.rightTriangle:after { content:"\E291"; }

.symbol._lineChart:before { content:"\1F4C8"; }
.symbol._barChart:before { content:"\1F4CA"; }
.symbol._bookmarkTab:before { content:"\1F4D1"; }
.symbol._closedLock:before { content:"\1F512"; }
.symbol._openLock:before { content:"\1F513"; }
.symbol._reversedCheckedbox:before { content:"\E005"; }
.symbol._doubleDownArrows:before { content:"\E00D"; }
.symbol._leftAngle:before { content:"\E012"; }
.symbol._rightAngle:before { content:"\E013"; }
.symbol._upAngle:before { content:"\E014"; }
.symbol._downAngle:before { content:"\E015"; }
.symbol._leftAngleBold:before { content:"\E016"; }
.symbol._rightAngleBold:before { content:"\E017"; }
.symbol._upAngleBold:before { content:"\E018"; }
.symbol._downAngleBold:before { content:"\E019"; }
.symbol._radio:before { content:"\E070"; }
.symbol._doubleUpArrows:before { content:"\E08D"; }
.symbol._leftAngleMed:before { content:"\E09E"; }
.symbol._rightAngleMed:before { content:"\E09F"; }
.symbol._upAngleMed:before { content:"\E0A0"; }
.symbol._downAngleMed:before { content:"\E0A1"; }
.symbol._checkboxChecked:before { content:"\E0A2"; }
.symbol._radioChecked:before { content:"\E0A3"; }
.symbol._remove:before { content:"\E0A4"; }
.symbol._rightCircle:before { content:"\E0AC"; }
.symbol._rightArrowBold:before { content:"\E0AE"; }
.symbol._rightCircleInvert:before { content:"\E0AF"; }
.symbol._leftCircle:before { content:"\E0BA"; }
.symbol._leftCircleInvert:before { content:"\E0B3"; }
.symbol._plus:before { content:"\E0B6"; }
.symbol._minus:before { content:"\E0B8"; }
.symbol._plusCircle:before { content:"\E0C5"; }
.symbol._minusCircle:before { content:"\E0C6"; }
.symbol._xCircle:before { content:"\E0C7"; }
.symbol._plusCircleInvert:before { content:"\E0C8"; }
.symbol._minusCircleInvert:before { content:"\E0C9"; }
.symbol._xCircleInvert:before { content:"\E0CA"; }
.symbol._leftArrowBold:before { content:"\E0D5"; }
.symbol._tileExpand:before { content:"\E0D6"; }
.symbol._tileReduce:before { content:"\E0D7"; }
.symbol._unpin:before { content:"\E0DA"; }
.symbol._pin:before { content:"\E0DB"; }
.symbol._circle:before { content:"\E0DD"; }
.symbol._circleFilled:before { content:"\E0DE"; }
.symbol._circleMore:before { content:"\E0DF"; }
.symbol._tileOff:before { content:"\E0F1"; }
.symbol._tileOn:before { content:"\E0F2"; }
.symbol._manage:before { content:"\E0F3"; }
.symbol._properties:before { content:"\E0F4"; }
.symbol._applications:before { content:"\E0F5"; }
.symbol._newWindow:before { content:"\E0F8"; }
.symbol._openWith:before { content:"\E0F9"; }
.symbol._openFile:before { content:"\E0FA"; }
.symbol._openLocation:before { content:"\E0FB"; }
.symbol._previous:before { content:"\E100"; }
.symbol._next:before { content:"\E101"; }
.symbol._play:before { content:"\E102"; }
.symbol._pause:before { content:"\E103"; }
.symbol._edit:before { content:"\E104"; }
.symbol._save:before { content:"\E105"; }
.symbol._trash:before { content:"\E107"; }
.symbol._subtract:before { content:"\E108"; }
.symbol._add:before { content:"\E109"; }
.symbol._accept:before { content:"\E10B"; }
.symbol._more:before { content:"\E10C"; }
.symbol._redo:before { content:"\E10D"; }
.symbol._undo:before { content:"\E10E"; }
.symbol._home:before { content:"\E10F"; }
.symbol._upArrow:before { content:"\E110"; }
.symbol._rightArrow:before { content:"\E111"; }
.symbol._leftArrow:before { content:"\E112"; }
.symbol._settings:before { content:"\E115"; }
.symbol._video:before { content:"\E116"; }
.symbol._sync:before { content:"\E117"; }
.symbol._download:before { content:"\E118"; }
.symbol._mail:before { content:"\E119"; }
.symbol._search:before { content:"\E11A"; }
.symbol._help:before { content:"\E11B"; }
.symbol._upload:before { content:"\E11C"; }
.symbol._mailForward:before { content:"\E120"; }
.symbol._clock:before { content:"\E121"; }
.symbol._mailSend:before { content:"\E122"; }
.symbol._people:before { content:"\E125"; }
.symbol._world:before { content:"\E128"; }
.symbol._notification:before { content:"\E129"; }
.symbol._category:before { content:"\E12B"; }
.symbol._zoomIn:before { content:"\E12E"; }
.symbol._bookmarks:before { content:"\E12F"; }
.symbol._pdf:before { content:"\E130"; }
.symbol._page:before { content:"\E132"; }
.symbol._options:before { content:"\E133"; }
.symbol._mailInverted:before { content:"\E135"; }
.symbol._contactInfo:before { content:"\E136"; }
.symbol._fourSquare:before { content:"\E138"; }
.symbol._phone:before { content:"\E13A"; }
.symbol._switch:before { content:"\E13C"; }
.symbol._person:before { content:"\E13D"; }
.symbol._rename:before { content:"\E13E"; }
.symbol._go:before { content:"\E143"; }
.symbol._details:before { content:"\E14C"; }
.symbol._shop:before { content:"\E14D"; }
.symbol._selectAll:before { content:"\E14E"; }
.symbol._import:before { content:"\E150"; }
.symbol._importFiles:before { content:"\E151"; }
.symbol._showAllFiles:before { content:"\E154"; }
.symbol._saveLocal:before { content:"\E159"; }
.symbol._stop:before { content:"\E15B"; }
.symbol._searchResults:before { content:"\E15C"; }
.symbol._tool:before { content:"\E15E"; }
.symbol._document:before { content:"\E160"; }
.symbol._calendar:before { content:"\E163"; }
.symbol._replyAll:before { content:"\E165"; }
.symbol._mailRead:before { content:"\E166"; }
.symbol._accounts:before { content:"\E168"; }
.symbol._attach:before { content:"\E16C"; }
.symbol._filter:before { content:"\E16E"; }
.symbol._copy:before { content:"\E16F"; }
.symbol._priority:before { content:"\E171"; }
.symbol._sort:before { content:"\E174"; }
.symbol._contactStatus:before { content:"\E181"; }
.symbol._optionsImportant:before { content:"\E182"; }
.symbol._permissions:before { content:"\E192"; }
.symbol._disableUpdates:before { content:"\E194"; }
.symbol._moveToFolder:before { content:"\E19C"; }
.symbol._mailReply:before { content:"\E1AF"; }
.symbol._clearSelection:before { content:"\E1C5"; }
.symbol._calculator:before { content:"\E1D0"; }
.symbol._library:before { content:"\E1D3"; }
.symbol._restoreWindow:before { content:"\E1D8"; }
.symbol._fullScreen:before { content:"\E1D9"; }
.symbol._folderAdd:before { content:"\E1DA"; }
.symbol._contactBlock:before { content:"\E1E0"; }
.symbol._contactInvite:before { content:"\E1E2"; }
.symbol._taskbarUnpin:before { content:"\E241"; }
.symbol._taskbarPin:before { content:"\E242"; }
.symbol._startMenu:before { content:"\E243"; }
.symbol._clearSelection2:before { content:"\E26A"; }
.symbol._helpCircle:before { content:"\E280"; }
.symbol._downChevron:before { content:"\E281"; }
.symbol._upChevron:before { content:"\E282"; }
.symbol._network:before { content:"\E283"; }
.symbol._mailDelete:before { content:"\E284"; }
.symbol._menu:before { content:"\E285"; }
.symbol._shoppingCart:before { content:"\E286"; }
.symbol._informational:before { content:"\E287"; }
.symbol._warning:before { content:"\E288"; }
.symbol._documentEdit:before { content:"\E289"; }
.symbol._tools:before { content:"\E28A"; }
.symbol._documentCheck:before { content:"\E28B"; }
.symbol._cube:before { content:"\E28C"; }
.symbol._menu2:before { content:"\E28D"; }
.symbol._upTriangle:before { content:"\E28E"; }
.symbol._downTriangle:before { content:"\E28F"; }
.symbol._leftTriangle:before { content:"\E290"; }
.symbol._rightTriangle:before { content:"\E291"; }