<?xml version="1.0"?>
<unity>
  <containers>
    <container>
      <types>     
        <type type="Web.UI.Repositories.Interfaces.IAgreementBridge, Web.UI.Repositories" mapTo="Web.UI.Repositories.Bridges.AgreementServiceBridge, Web.UI.Repositories">
          <lifetime type="PerResolveLifetimeManager" />
        </type>
        <!--
        <type type="Web.UI.Repositories.Interfaces.IAgreementBridge, Web.UI.Repositories" mapTo="Web.UI.Repositories.Bridges.NoSqlAgreementBridge, Web.UI.Repositories">
          <lifetime type="PerResolveLifetimeManager" />
        </type>
        -->
        <type type="Web.UI.Repositories.Interfaces.IProductRepository, Web.UI.Repositories" mapTo="Web.UI.Repositories.ProductRepository, Web.UI.Repositories">
          <lifetime type="PerResolveLifetimeManager" />
        </type>
        <type type="Web.UI.Repositories.Interfaces.IAgreementRepository, Web.UI.Repositories" mapTo="Web.UI.Repositories.AgreementRepository, Web.UI.Repositories">
          <lifetime type="PerResolveLifetimeManager" />
        </type>
        <type type="Web.UI.Repositories.Interfaces.IOrderRepository, Web.UI.Repositories" mapTo="Web.UI.Repositories.OrderRepository, Web.UI.Repositories">
          <lifetime type="PerResolveLifetimeManager" />
        </type>
        <type type="Web.UI.Repositories.Interfaces.IUserRepository, Web.UI.Repositories" mapTo="Web.UI.Repositories.UserRepository, Web.UI.Repositories">
          <lifetime type="PerResolveLifetimeManager" />
        </type>
        <type type=" Web.UI.UnitOfWork.IPortalUnitOfWork, Web.UI" mapTo="Web.UI.UnitOfWork.PortalUnitOfWork, Web.UI">
          <lifetime type="PerResolveLifetimeManager" />
        </type>
        <type type=" Web.UI.Cache.ICacheProvider, Web.UI" mapTo="Web.UI.Providers.InMemoryCacheProvider, Web.UI">
          <lifetime type="PerResolveLifetimeManager" />
        </type>
        <type type=" Web.UI.Providers.IDomainDataProvider, Web.UI" mapTo="Web.UI.Providers.EcdmDomainProvider, Web.UI">
          <lifetime type="PerResolveLifetimeManager" />
        </type>
      </types>
    </container>
  </containers>
</unity>  

