<?xml version="1.0" encoding="utf-8" ?> 
<UIControls>
	<!-- OMC Roles -->
	<UIControl ID="IsOMCSuperAdmin" EBAC="OMCRoles (SuperAdmin)" />
	<UIControl ID="IsOMCAdmin" EBAC="OMCRoles (Admin)" />
	<UIControl ID="IsOMCOperator" EBAC="OMCRoles (Operator)" />
	<UIControl ID="IsOMCTradeOperator" EBAC="OMCRoles (TradeOperator)" />
	<UIControl ID="IsOMCTradeAdmin" EBAC="OMCRoles (TradeAdministrator)" />
	<UIControl ID="IsOMCCreditAdmin" EBAC="OMCRoles (CreditAdministrator)" />

	<!-- OMC Combination Roles -->
	<UIControl ID="IsOMCTradeOperator_OR_eMSLTradeAdmin" EBAC="OMCRoles (TradeOperator, TradeAdministrator)" />

	<!-- eMSL Roles -->
	<UIControl ID="IseMSLSuperAdmin" EBAC="eMSLRoles (SuperAdmin)" />
	<UIControl ID="IseMSLShipmentUser" EBAC="eMSLRoles (ShipmentUser)" />
	<UIControl ID="IseMSLSubscriptionUser" EBAC="eMSLRoles (SubscriptionUser)" />
	<UIControl ID="IseMSLCyclePullUser" EBAC="eMSLRoles (CyclePullUser)" />
	<UIControl ID="IseMSLAgreementUser" EBAC="eMSLRoles (AgreementUser)" />
	<UIControl ID="IseMSLPurchaseOrderUser" EBAC="eMSLRoles (PurchaseOrderUser)" />
	
	<!-- eMSL Combination Roles -->

	<!-- OMC and eMSL Combination Roles -->
	<UIControl ID="IsOMCSuperAdmin_OR_OMCAdmin_OR_eMSLSuperAdmin" EBAC="OMCRoles (SuperAdmin, Admin) OR eMSLRoles(SuperAdmin)" />
	<UIControl ID="IsOMCSuperAdmin_OR_OMCAdmin_OR_eMSLSuperAdmin_OR_OrderSuperAdmin" EBAC="OMCRoles (SuperAdmin, Admin) OR eMSLRoles(SuperAdmin) OR OrderRoles(SuperAdmin)" />

	<!-- Order Roles -->
	<UIControl ID="IsOrderSuperAdmin" EBAC="OrderRoles (SuperAdmin)" />
	<UIControl ID="IsOrderViewUser" EBAC="OrderRoles (OrderViewUser)" />
	<UIControl ID="IsOrderEditUser" EBAC="OrderRoles (OrderEditUser)" />
	<UIControl ID="IsOrderSubmitUser" EBAC="OrderRoles (OrderSubmitUser)" />
	<UIControl ID="IsOrderAdjustUser" EBAC="OrderRoles (OrderAdjustUser)" />
	<UIControl ID="IsRequestedOrderViewUser" EBAC="OrderRoles (ROViewUser)" />
	<UIControl ID="IsRequestedOrderEditUser" EBAC="OrderRoles (ROEditUser)" />
	<UIControl ID="IsRequestedOrderSubmitUser" EBAC="OrderRoles (ROSubmitUser)" />
    <UIControl ID="IsSoliViewUser" EBAC="OrderRoles (SoliViewUser)" />
    <UIControl ID="IsSoliEditUser" EBAC="OrderRoles (SoliEditUser)" />
  <UIControl ID="IsEventProcessingUser" EBAC="OrderRoles (EventProcessingUser)" />

	<UIControl ID="IsAllowedOrderEdit" EBAC="OrderRoles (OrderViewUser,OrderEditUser,ROViewUser,ROEditUser)" />

</UIControls>