<RoleSpace>
	<RoleDimension Name="OMCRoles" >
		<Role Name="SuperAdmin" />
		<Role Name="Admin" />
		<Role Name="Operator" />
		<Role Name="User" />
		<Role Name="TradeOperator"/>
		<Role Name="CreditAdministrator"/>
		<Role Name="TradeAdministrator"/>
	</RoleDimension>
	<RoleDimension Name="eMSLRoles">
		<Role Name="SuperAdmin" />
		<Role Name="ShipmentUser" />
		<Role Name="SubscriptionUser" />
		<Role Name="CyclePullUser" />
		<Role Name="AgreementUser" />
		<Role Name="PurchaseOrderUser" />
		<Role Name="User" />
	</RoleDimension>
	<RoleDimension Name="OrderRoles">
		<Role Name="SuperAdmin" />
		<Role Name="OrderViewUser" />
		<Role Name="OrderEditUser" />
		<Role Name="OrderSubmitUser" />
		<Role Name="OrderAdjustUser" />
		<Role Name="ROViewUser" />
		<Role Name="ROEditUser" />
		<Role Name="ROSubmitUser" />
        <Role Name="User" />
        <Role Name="SoliEditUser"/>
        <Role Name="SoliViewUser"/>
    <Role Name="EventProcessingUser"/>
	</RoleDimension>
</RoleSpace>

