<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AgreementSearchConfig" value="EDB114F3C804F6D788F7B077B3435A81;agreements;newagreements" />
    <add key="api-key" value="AABB9C2904CDABEC6B24E8B0F54D9916" />
    <add key="Content" value="application/json" />
    <add key="Method" value="GET" />
    <add key="AzureURl" value="https://products.search.windows.net/indexes/" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>