/*Variables*/
/* Standard Global Styles*/
/* Initial document setup */
* {
  /* Firefox, other Gecko */
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*::-ms-clear {
  display: none;
}
* HTML {
  position: absolute;
}
HTML {
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: 100%;
  font-size: 62.5%;
}
* body,
body {
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  position: relative;
  z-index: 1;
  color: #000000;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Helvetica, Arial, Verdana, sans-serif;
  direction: ltr /*@leftToRight*/;
}
/* Backward browser support */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
p,
H4,
H5,
body,
div,
span,
td,
tr {
  margin: 0px;
  padding: 0px;
}
p,
em,
blockquote,
strong {
  font-size: 1.2rem;
}
/* End document setup*/
.siteTitle {
  color: #666666;
  font-weight: 600;
  font-size: 1.9rem;
  line-height: none;
  text-transform: capitalize;
}
h1,
.sectionTitle {
  color: #666666;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: none;
  text-transform: none;
}
h2,
.containerTitle {
  color: #000000;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: none;
  text-transform: none;
}
h3,
.textHeadingMed {
  color: #000000;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.4em;
  text-transform: none;
}
h4,
.textHeading {
  color: #000000;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.2rem;
  text-transform: none;
}
a {
  color: #0066cc;
  text-decoration: none;
  font-size: 1.2rem;
  line-height: 1.2rem;
  cursor: pointer;
}
a:link,
a:visited {
  color: #0066cc;
  text-decoration: none;
  font-size: 1.2rem;
  line-height: 1.2rem;
  cursor: pointer;
}
a:hover,
a:active,
a:focus {
  text-decoration: underline;
}
a .smallLinkText,
a .smallLinkText:link,
a .smallLinkText:visited {
  color: #666666;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1em;
}
a .smallLinkText:hover,
a .smallLinkText:link:hover,
a .smallLinkText:visited:hover,
a .smallLinkText:focus,
a .smallLinkText:link:focus,
a .smallLinkText:visited:focus,
a .smallLinkText:active,
a .smallLinkText:link:active,
a .smallLinkText:visited:active {
  color: #0066cc;
  text-decoration: underline;
}
.linkText {
  color: #0066cc;
  text-decoration: none;
  font-size: 1.2rem;
  line-height: 1.2rem;
  cursor: pointer;
}
.linkText .active,
.linkText:hover,
.linkText:active,
.linkText:focus {
  text-decoration: underline;
}
.linkText .small {
  color: #666666;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1em;
}
.stdTextWhite {
  color: #ffffff;
  font-size: 1.2rem;
}
p,
.stdText {
  color: #000000;
  text-transform: none;
  font-weight: 500;
  font-size: 1.2rem;
}
p .white,
.stdText .white {
  color: #ffffff;
  font-size: 1.2rem;
}
.stdTextMed {
  color: #000000;
  font-weight: 500;
  font-size: 1.4rem;
}
label,
.label,
.stdLabel {
  margin-right: 1rem;
  color: #666666;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 1.2rem;
}
textarea {
  color: #000000;
  font-weight: 500;
  font-size: 1.2rem;
}
.stdLabelMed {
  margin-right: 1rem;
  color: #666666;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.4rem;
}
.infoLabel {
  border-bottom: dashed 1px #000000;
  color: #000000;
  text-transform: none;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.2rem;
}
.required:before,
label.required:before {
  padding: 5px;
  color: #ff0000;
  content: '*';
}
.stdInput,
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="url"] {
  padding: 4px;
  min-width: 5rem;
  height: 2.4rem;
  border: 1px solid #666666;
  background-color: #ffffff;
  font-size: 1.2rem;
}
input[type="button"],
input[type="submit"],
button,
*.button,
.stdBtn {
  padding: 7px 10px;
  border: none;
  background-color: #666666;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2rem;
}
input[type="button"]:hover,
input[type="submit"]:hover,
button:hover,
*.button:hover,
.stdBtn:hover,
input[type="button"]:focus,
input[type="submit"]:focus,
button:focus,
*.button:focus,
.stdBtn:focus {
  background-color: #0066cc;
  cursor: pointer;
}
/* Global Nav */
.globalNavRoot {
  color: #000000;
  font-weight: 500;
  font-size: 2.4rem;
  cursor: pointer;
}
.globalNavRoot:hover,
.globalNavRoot:focus {
  color: #0066cc;
}
.globalNavItem {
  color: #000000;
  font-weight: 500;
  font-size: 1.4rem;
  cursor: pointer;
}
.globalNavItem:hover,
.globalNavItem:focus {
  background-color: #0066cc;
  color: #ffffff;
}
.globalNavItem:active,
.globalNavItem .active {
  color: #000000;
  font-weight: 600;
  font-size: 1.4rem;
  cursor: pointer;
}
/* END Global Nav */
/* Bread Crumb */
.breadCrumbLink {
  color: #666666;
  font-weight: 500;
  font-size: 1.4rem;
  cursor: pointer;
}
.breadCrumbLink:active,
.breadCrumbLink .active {
  color: #666666;
  font-weight: 500;
  font-size: 1.4rem;
}
a.breadCrumbLink {
  color: #666666;
  font-weight: 500;
  font-size: 1.4rem;
  cursor: pointer;
}
a.breadCrumbLink:active,
a.breadCrumbLink .active {
  color: #666666;
  font-weight: 500;
  font-size: 1.4rem;
}
a.breadCrumbLink:link,
a.breadCrumbLink:visited {
  color: #666666;
  font-weight: 500;
  font-size: 1.4rem;
  cursor: pointer;
}
a.breadCrumbLink:link:active,
a.breadCrumbLink:visited:active,
a.breadCrumbLink:link .active,
a.breadCrumbLink:visited .active {
  color: #666666;
  font-weight: 500;
  font-size: 1.4rem;
}
a.breadCrumbLink:hover,
a.breadCrumbLink:focus {
  color: #0066cc;
  text-decoration: underline;
}
/* Bread Crumb */
/* Help Classes*/
.helpTextLink {
  color: #0066cc;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.3rem;
  text-transform: none;
}
.helpTextLink:active,
.helpTextLink .active {
  text-decoration: underline;
}
a.helpTextLink {
  color: #0066cc;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.3rem;
  text-transform: none;
}
a.helpTextLink:active,
a.helpTextLink .active {
  text-decoration: underline;
}
a.helpTextLink:link,
a.helpTextLink:visited {
  color: #0066cc;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.3rem;
  text-transform: none;
}
a.helpTextLink:link:active,
a.helpTextLink:visited:active,
a.helpTextLink:link .active,
a.helpTextLink:visited .active {
  text-decoration: underline;
}
a.helpTextLink:hover,
a.helpTextLink:focus {
  text-decoration: underline;
}
/*End Help Classes*/
.dlgText {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.6rem;
}
.errorInput {
  border-color: #e81123;
}
.validation-summary-errors {
  margin-bottom: 1rem;
  padding-left: 2rem;
  border: 1px solid red;
  color: #000000;
  font-weight: 500;
  font-size: 1.2rem;
}
select,
.stdDroplist {
  padding: 2px;
  height: 2.4rem;
  vertical-align: middle;
  font-size: 1.2rem;
}
.stdListItem {
  display: inline-block;
  padding: 4px;
  min-height: 1.5rem;
  color: #000000;
  font-weight: 500;
  font-size: 1.2rem;
}
.stdListItem:hover,
.stdListItem:focus {
  background-color: #0066cc !important;
  color: #ffffff;
  cursor: pointer;
}
.pageItem {
  width: 24px;
  height: 2.4rem;
  background-color: #ffffff;
  font-size: 1.2rem;
}
.pageItem:active,
.pageItem.active {
  width: 24px;
  height: 2.4rem;
  background-color: #dadada;
  font-size: 1.2rem;
}
.bannerHeading {
  color: #000000;
  font-size: 1.8rem;
}
.fieldErrorText {
  color: #e81123;
  font-size: 1.2rem;
}
a.stdSecondaryBtn,
a.stdSecondaryBtn:link,
a.stdSecondaryBtn:visited,
input[type="submit"].stdSecondaryBtn,
input[type="button"].stdSecondaryBtn,
input[type="submit"].stdSecondaryBtn,
button.stdSecondaryBtn,
*.stdSecondaryBtn {
  display: inline-block;
  padding: 7px 10px;
  height: 3rem;
  border: solid 1px #666666;
  background-color: transparent;
  color: #666666;
  text-transform: uppercase;
  cursor: pointer;
}
a.stdSecondaryBtn:hover,
a.stdSecondaryBtn:active,
input[type="button"].stdSecondaryBtn:hover,
input[type="submit"].stdSecondaryBtn:hover,
button.stdSecondaryBtn:hover,
*.stdSecondaryBtn:hover,
*.stdSecondaryBtn:hover > *,
a.stdSecondaryBtn:focus,
a.stdSecondaryBtn:active,
input[type="button"].stdSecondaryBtn:focus,
input[type="submit"].stdSecondaryBtn:focus,
button.stdSecondaryBtn:focus,
*.stdSecondaryBtn:focus,
*.stdSecondaryBtn:focus > * {
  border: solid 1px #0066cc;
  background-color: #0066cc;
  color: #ffffff;
  text-decoration: none;
}
.stdSecondaryBtn > * {
  vertical-align: middle;
}
.imgTextBtn,
a.imgTextBtn {
  display: inline-block;
  padding: 7px 10px;
  color: #666666;
  font-weight: 500;
  font-size: 1.6rem;
  cursor: pointer;
}
.imgTextBtn > * a.imgTextBtn > * {
  display: inline-block;
}
.imgTextBtn:hover,
.imgTextBtn:focus,
a.imgTextBtn:hover,
a.imgTextBtn:focus {
  color: #0066cc;
}
.imgTextBtn2,
a.imgTextBtn2 {
  display: inline-block;
  padding: 7px 10px;
  color: #666666;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 2.4rem;
  cursor: pointer;
}
.imgTextBtn2 > *,
a.imgTextBtn2 > * {
  display: inline-block;
  vertical-align: middle;
}
.imgTextBtn2:hover,
.imgTextBtn2:focus,
a.imgTextBtn2:hover,
a.imgTextBtn2:focus {
  background-color: #0066cc;
  color: #ffffff;
  text-decoration: none;
}
/* error page classes */
.errorPageHeader,
h4.errorPageHeader {
  font-weight: 600;
  font-size: 1.4rem;
}
.errorPageSubHeader {
  color: #666666;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2rem;
}
/* END error page classes */
/* filterTile classes */
.filterTileItem,
.filterTileItem:link,
.filterTileItem:visited {
  position: relative;
  display: inline-block;
  min-width: 20rem;
  min-height: 4rem;
  max-width: 20rem;
  border: solid 1px #666666;
  background-color: #ffffff;
  color: #666666;
  text-decoration: none;
  white-space: nowrap;
  line-height: 4rem;
  cursor: pointer;
}
.filterTileItem:hover,
.filterTileItem:focus,
.filterTileItem:active,
.filterTileItem.active {
  border-color: #0066cc !important;
  background-color: #0066cc !important;
  color: #ffffff;
}
.filterTileItem > * {
  display: table-cell;
  padding: .4rem;
  min-width: 2.2rem;
  min-height: 4rem;
  max-height: 100%;
  width: 100%;
  vertical-align: bottom;
  white-space: normal;
  font-size: 1.2rem;
  line-height: 1.5rem;
}
.filterTileCount {
  padding: 0 .5rem;
  vertical-align: top;
  text-align: center;
  white-space: nowrap;
  -ms-word-break: keep-all;
  word-break: keep-all;
  font-weight: 600;
  font-size: 2.2rem;
  line-height: normal;
}
.filterTileActiveItem:hover,
.filterTileActiveItem:focus,
.filterTileItem.active:hover,
.filterTileItem.active:focus {
  border-color: #666666;
  background-color: #ffffff;
  color: #666666;
}
.filterTileItem:active,
.filterTileItem.active {
  border-color: #0066cc;
  background-color: #0066cc;
  color: #ffffff;
}
.filterTileItem.invert,
.filterTileItem.invert:hover,
.filterTileItem.invert:active,
.filterTileItem.invert:focus {
  background-color: #0066cc;
  color: #ffffff;
}
/* END filterTile classes */
/* Sign In Classes */
.signInTitleText,
.signInTitleTextCust,
.signInTitleTextPart {
  font-size: 3rem;
}
.signInTitleTextPart {
  color: #007233;
}
.signInTitleTextCust {
  color: #0066cc;
}
.signInIntroText {
  color: #666666;
  font-weight: 300;
  font-size: 3rem;
}
.signInBtnPart {
  min-width: 200px;
  height: 10rem;
  background-color: #007233;
}
.signInBtnCust {
  min-width: 200px;
  height: 10rem;
  background-color: #0066cc;
}
.signInBtnLabel {
  color: #ffffff;
  font-size: 1.9rem;
}
.signInBtnSubLabel {
  color: #ffffff;
  font-size: 1.2rem;
}
/* END Sign In Classes */
*.focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus {
  border: solid 1px #0066cc;
}
*:disabled input,
*.disabled input,
input:disabled,
input.disabled {
  border-color: #eeeeee;
}
*:disabled,
*.disabled,
*:disabled *,
*.disabled *,
*:disabled:hover,
*.disabled:hover,
*:disabled:hover *,
*.disabled:hover * {
  color: #a0a0a0 !important;
  text-decoration: none;
  cursor: default;
}
/* Helper / Compound  Styles */
.active {
  /* used to apply state on an active or selected element*/
  outline: auto !important;
}
.focus {
  /* defined to give appearance same as a input field focus */
}
.disabled {
  /* has default style rules from global styles based on type*/
}
/* mark item to be styled as readonly, same visual appearance as 
	disabled="disabled" without disabling content
*/
.readonly {
  background-color: #dadada !important;
  cursor: default !important;
}
/* Aligns text center */
.atl {
  text-align: left !important;
}
/* Aligns text right */
.atr {
  text-align: right !important;
}
/* Aligns text center */
.atc {
  text-align: center !important;
}
.ilb {
  display: inline-block !important;
}
/* Hides content but leaves allocated space */
.hidden {
  visibility: hidden !important;
}
/* Hides content and collapses allocated space*/
.hide {
  display: none !important;
}
.wrap {
  white-space: normal !important;
  -ms-word-break: break-all !important;
  word-break: break-all !important;
}
.nowrap {
  white-space: nowrap !important;
}
.pointer {
  cursor: pointer !important;
}
.defaultCase {
  text-transform: none !important;
}
.uppercase {
  text-transform: uppercase !important;
}
/* Text color override */
.white {
  color: #ffffff !important;
}
.black {
  color: #000000 !important;
}
.bold {
  font-weight: 600 !important;
}
.bolder {
  font-weight: 700 !important;
}
.flr {
  float: right!important;
}
.fll {
  float: left !important;
}
.clear,
.clr {
  clear: both;
}
.vt {
  vertical-align: top !important;
}
.vb {
  vertical-align: bottom !important;
}
