<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <appSettings>
    <add key="AgreementSearchConfig" value="EDB114F3C804F6D788F7B077B3435A81;agreements;newagreements" />
    <!-- TODO: Set the application name to be used -->
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ida:FederationMetadataLocation" value="https://corp.sts.microsoft.com/federationmetadata/2007-06/FederationMetadata.xml." />
    <add key="ida:ProviderSelection" value="urn:federation:MSFT" />
    <!-- TODO: Set the environment name to be used (DIT/SIT/Perf/UAT/Production) -->
    <add key="Microsoft.IT.Licensing.Diagnostics.ApplicationName" value="OrderPortal" />
    <add key="Microsoft.IT.Licensing.Diagnostics.EnvironmentName" value="Development" />
    <add key="MSLGUID" value="B139BF32-9D90-4BCE-90C3-0F87BEB4BA7C" />
    <add key="ClaimsSchema" value="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/" />
    <add key="OMSApplicationGuid" value="657324A2-C88C-4FBE-A9A9-DC785C9C024D" />
    <add key="EcdmDomainDataService" value="https://tk3ecdmwb0101.parttest.extranettest.microsoft.com/domainData/domainData.svc/Windows" />
    <add key="UseEcdmDomainService" value="true" />
    <add key="SupportedLocale" value="zh-CN,zh-TW,en-US,ja-JP,ko-KR,pt-BR,es-MX,de-DE,fr-FR,ru-RU" />
    <add key="EBACRolespace_Path" value="\MiddleTierXML\MSL_EBAC_Rolespace.config" />
    <add key="EcitRedisCacheConnection" value="ecitcache.redis.cache.windows.net, ssl=true, password=ne0sTtLeANcUrra3EdrOG+A2DHGY/1L+f7lnAGbzJHw=" />
    <add key="EnableAsyncOrderSubmit" value="false"/>
    <add key="CurrentPOSurfix" value="1"/>
  </appSettings>
  <system.serviceModel>
  <extensions>
      <bindingElementExtensions>
        <add name="gzipMessageEncoding" type="MS.IT.Ops.Shared.GZipEncoder.GZipMessageEncodingElement, MS.IT.Ops.Shared.GZipEncoder,  Version=1.0.0.0, Culture=neutral, PublicKeyToken=2c2179b1621ee28e" />
      </bindingElementExtensions>
    </extensions>
    <bindings>
      <customBinding>
        <binding name="CustomBinding_IOrderService">
          <!--    WsdlImporter encountered unrecognized policy assertions in ServiceDescription 'http://tempuri.org/':    -->
          <!--    <wsdl:binding name='CustomBinding_IOrderService'>    -->
          <!--        <gzip:GZipEncoding xmlns:gzip="http://schemas.microsoft.com/ws/06/2004/mspolicy/netgzip1">..</gzip:GZipEncoding>    -->
          <gzipMessageEncoding innerMessageEncoding="binaryMessageEncoding" maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <httpTransport authenticationScheme="Ntlm" />
        </binding>
        <binding name="CustomBinding_IDraftOrderService">
          <gzipMessageEncoding innerMessageEncoding="binaryMessageEncoding" maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <httpTransport authenticationScheme="Ntlm" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address=" http://msfttiger.fareast.corp.microsoft.com/OrderService/Order.svc"
          binding="customBinding" bindingConfiguration="CustomBinding_IOrderService"
          contract="OrderServiceProxy.IOrderService" name="CustomBinding_IOrderService">
        <identity>
          <userPrincipalName value="host\localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://msfttiger.fareast.corp.microsoft.com/OrderService/DraftOrder.svc"
          binding="customBinding" bindingConfiguration="CustomBinding_IDraftOrderService"
          contract="DraftOrderServiceProxy.IDraftOrderService" name="CustomBinding_IDraftOrderService">
        <identity>
          <servicePrincipalName value="host/localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <anonymousIdentification cookieRequireSSL="true" cookieProtection="All" />
    <httpModules>
      <add name="ApplicationInsights" type="Microsoft.ApplicationInsights.Telemetry.Web.ApplicationInsightsModule" />
    </httpModules>
  </system.web>


  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".less" mimeType="text/css" />
    </staticContent>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>

    <modules runAllManagedModulesForAllRequests="true">
      <!--<remove name="FormsAuthentication" />-->
      <add name="WSFederationAuthenticationModule" type="System.IdentityModel.Services.WSFederationAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler" />
      <add name="SessionAuthenticationModule" type="System.IdentityModel.Services.SessionAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler" />
      <add name="ApplicationInsights" type="Microsoft.ApplicationInsights.Telemetry.Web.ApplicationInsightsModule" />
    </modules>
    <httpProtocol>
      <customHeaders>
        <clear />
        <add name="X-UA-Compatible" value="IE=Edge" />
      </customHeaders>
    </httpProtocol>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
        <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity.Configuration" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
        </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <system.identityModel>
    <identityConfiguration>
      <securityTokenHandlers>
        <add type="System.IdentityModel.Services.Tokens.MachineKeySessionSecurityTokenHandler, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <remove type="System.IdentityModel.Tokens.SessionSecurityTokenHandler, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </securityTokenHandlers>
      <audienceUris>
        <add value="https://msfttiger.fareast.corp.microsoft.com/OrderPortal/" />
      </audienceUris>
      <!-- The certificateValidationMode="None" setting is insecure and used only to ease running this sample application. This setting should not be used in production deployments. -->
      <certificateValidation certificateValidationMode="None" />
      <issuerNameRegistry type="System.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <trustedIssuers>
          <add thumbprint="589F63B2103DA89EDC9A213219B0D6E9C510CB5F" name="urn:federation:MSFT" />
          <add thumbprint="771E4764CB8E798AC49FF69572FDB7DF5861DB29" name="urn:federation:MSFT" />
        </trustedIssuers>
      </issuerNameRegistry>
    </identityConfiguration>
  </system.identityModel>

  <system.identityModel.services>
    <federationConfiguration>
      <wsFederation passiveRedirectEnabled="true" issuer="https://corp.sts.microsoft.com/adfs/ls/" realm="https://v-arra-0515.fareast.corp.microsoft.com/OrderPortal/" homeRealm="uri:WindowsLiveIDINT,urn:federation:MSFT" signOutReply="https://v-arra-0515.fareast.corp.microsoft.com/OrderPortal/Home/Login/" reply="https://v-arra-0515.fareast.corp.microsoft.com/OrderPortal/Dashboard/DashboardHome/Index" requireHttps="true" />
      <cookieHandler requireSsl="false" />
    </federationConfiguration>
  </system.identityModel.services>


  <connectionStrings>
    <add name="Accessor" connectionString="Server=USCBVCSQLMSL01.redmond.corp.microsoft.com; Database=Accessor; Trusted_Connection=Yes; Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <add name="Organization" connectionString="Server=USCBVCSQLMSL01.redmond.corp.microsoft.com; Database=organization; Trusted_Connection=Yes; Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <add name="Microsoft.IT.Licensing.Diagnostics.DatabaseServer" providerName="System.Data.SqlClient" connectionString="Server=PFSTRESSRPT.parttest.extranettest.microsoft.com;Database=ECITLogging;Trusted_Connection=True; Asynchronous Processing=true" />
  </connectionStrings>
  
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" propagateActivity="true">
        <listeners>
          <add name="default" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="default" type="System.Diagnostics.DefaultTraceListener" />
    </sharedListeners>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="default" />
      </listeners>
    </trace>
  </system.diagnostics>
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="EntLib Event Log Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" source="Enterprise Library Logging" formatter="Text Formatter" log="Application" machineName="." traceOutputOptions="None" />

      <!--TODO:Set the name, source and log name -->
      <add name="Example Event Log Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" source="Example Event Log Source" formatter="Text Formatter" log="Example Event Log" machineName="." traceOutputOptions="None" />

      <add name="Database Trace Listener" type="Microsoft.IT.Licensing.Diagnostics.Common.TraceListeners.DatabaseTraceListener, Microsoft.IT.Licensing.Diagnostics.Common" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" loggingConnectionStringName="Microsoft.IT.Licensing.Diagnostics.DatabaseServer" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack" />

    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="CorrelationId: {propery(ActivityId)}{newline}&#xA;Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}" name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="Warning" name="Event">
        <listeners>
          <add name="Example Event Log Listener" />
          <add name="Database Trace Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events">
        <listeners>
          <add name="Database Trace Listener" />
        </listeners>
      </allEvents>
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="EntLib Event Log Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <unity>
    <containers>
      <container>
        <types>
          <type type="Web.UI.Repositories.Interfaces.IProductRepository, Web.UI.Repositories" mapTo="Web.UI.Repositories.ProductRepository, Web.UI.Repositories">
            <lifetime type="PerResolveLifetimeManager" />
          </type>
          <type type="Web.UI.Repositories.Interfaces.IAgreementRepository, Web.UI.Repositories" mapTo="Web.UI.Repositories.AgreementRepository, Web.UI.Repositories">
            <lifetime type="PerResolveLifetimeManager" />
          </type>
          <type type="Web.UI.Repositories.Interfaces.IOrderRepository, Web.UI.Repositories" mapTo="Web.UI.Repositories.OrderRepository, Web.UI.Repositories">
            <lifetime type="PerResolveLifetimeManager" />
          </type>
          <type type=" Web.UI.UnitOfWork.IPortalUnitOfWork, Web.UI" mapTo="Web.UI.UnitOfWork.PortalUnitOfWork, Web.UI">
            <lifetime type="PerResolveLifetimeManager" />
          </type>
          <type type=" Web.UI.Cache.ICacheProvider, Web.UI" mapTo="Web.UI.Providers.InMemoryCacheProvider, Web.UI">
            <lifetime type="PerResolveLifetimeManager" />
          </type>
          <type type=" Web.UI.Providers.IDomainDataProvider, Web.UI" mapTo="Web.UI.Providers.EcdmDomainProvider, Web.UI">
            <lifetime type="PerResolveLifetimeManager" />
          </type>
        </types>
      </container>
    </containers>
  </unity>
</configuration>