@using Web.UI.Common
@using System.Web.Mvc;

@using (Html.BeginForm("UpdatePartner", "/Dashboard/DashboardHome/", FormMethod.Post))
{
    var organizationList = UserContext.Current.Organizations;
    var items = new List<SelectListItem> {new SelectListItem {Text = "Select", Value = string.Empty}};
    if (organizationList != null && organizationList.Count > 1)
    {   
        foreach (ClaimOrganization org in organizationList)
        {
            items.Add(new SelectListItem { Text = org.OrganizationName + " - " + org.PCN, Value = org.PCN });
        }
    }
    <div id="myDialog" class="hidden" ng-controller="choosepartnerCtrl">
        <h2>Choose Partner Account</h2>
        <div class="content">
            @Html.DropDownList("SelectPartner", items);
            <input type="button" value="Submit" name="Submit" ng-click="submit()" />
            <div>
                <span id="errrorLabel" class="ms-fielderrortext">Please choose an option</span>
            </div>
        </div>
    </div>
    <script src="//ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.js" type="text/javascript"></script>
    <script src="~/scripts/ecitglobal/Modal_dialog.js" type="text/javascript"></script>
    <script>
        if (ModalDialogObject != null && '@UserContext.Current.Organizations.Count' > 0) {
            ModalDialogObject.Create({ source: "#myDialog", open: true, keepOpen: true });
            $(".ModalDialog").find($(".remove")).hide();
        }
    </script>
}

