<footer>
    <div class="layout-foorercontentpadding"></div>
    <div class="layout-footeralign"><div class="i_footerlogo"></div></div>
    <div class="layout-footerlinks">
        <a href="#" class="ms-linkText" title="Contact Us">Contact Us</a>
        <a href="#" class="ms-linkText" title="Help">Help</a>
        <a href="#" class="ms-linkText" title="Feedback">Feedback</a>
        <a href="#" class="ms-linkText" title="Privacy and Cookies">Privacy and Cookies</a>
        <a href="#" class="ms-linkText" title="Terms of Use">Terms of Use</a>
        <a href="#" class="ms-linkText" title="Trademarks">Trademarks</a>
        <span class="ms-stdtext">&copy; 2013 Microsoft</span>
    </div>
    <div class="layout-foorerPadding"></div>
</footer>